// Primary Colors
$pr-light-cyan: hsl(193, 38%, 86%);
$pr-neon-green: hsl(150, 100%, 66%);

//Neutral
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

$quote-fs: 28px;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $dark-blue;
    margin: 200px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: $dark-grayish-blue;
    border-radius: 15px;
    text-align: center;
    padding: 30px 15px;
    position: relative;
    max-width: 475px;
    margin: 0 auto;

    h1 {
        color: $pr-neon-green;
        font-size: 0.8em;
        margin-bottom: 10px;
        letter-spacing: 2pt;
    }

    blockquote {
        color: $pr-light-cyan;
        font-size: $quote-fs;
        margin-bottom: 20px;
        font-size: 800;
    }

    .divider {
        margin-bottom: 20px;
        max-height: 16px;
    }

    .dice-container {
        position: absolute;
        bottom: -25px;
        align-self: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: $pr-neon-green;

        .dice {
            width: 24px;
            height: 24px;
            margin: auto 0;
        }

        :hover {
            box-shadow: 0 0 15px 10px $pr-neon-green;
        }
    }


}

.attribution {
     font-size: 11px; 
     text-align: center; 
     color: aliceblue;
     margin: 30px auto;
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }