// Primary Colors
$pr-light-cyan: hsl(193, 38%, 86%);
$pr-neon-green: hsl(150, 100%, 66%);

//Neutral
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

$quote-fs: 28px;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $dark-blue;
}

.container {
    background-color: $dark-grayish-blue;
    border-radius: 15px;
    text-align: center;
    padding: 30px 15px;

    h1 {
        color: $pr-neon-green;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    blockquote {
        color: $pr-light-cyan;
        font-size: $quote-fs;
        margin-bottom: 20px;
    }

    img {
        margin-bottom: 20px;
    }
}

.attribution {
     font-size: 11px; 
     text-align: center; 
     color: aliceblue;
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
    }